<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="navigateTo('home')">LMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" (click)="navigateTo('home')">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SERVICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="navigateTo('book')">Books List</a></li>
                        <li><a class="dropdown-item" (click)="navigateTo('returnbook')">Return Book</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        FILTER BY
                    </a>
                    <ul class="dropdown-menu" style="min-width: 250px !important;" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="input-group mb-3">
                                <span class="input-group-text fw-bold">Author</span>
                                <select class="form-select form-control" [(ngModel)]="filterAuthor"
                                    aria-label="Default select example">
                                    <option selected value=''>No Filter Selected</option>
                                    <ng-container *ngFor="let author of getAllAuthors()">
                                        <option [value]="author">{{author}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="input-group mb-3">
                                <span class="input-group-text fw-bold">Genre</span>
                                <select class="form-select form-control" [(ngModel)]="filterGenre"
                                    aria-label="Default select example">
                                    <option selected value=''>No Filter Selected</option>
                                    <ng-container *ngFor="let genre of getAllGenres()">
                                        <option [value]="genre">{{genre}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </li>
                        <li class="text-justify">
                            <div class="input-group">
                                <button style="margin-left:auto;margin-right:auto;" class="btn-success" (click)="resetfilter()">Reset</button>    
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex mx-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" type="search" placeholder="Search" aria-label="Search"
                        [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-secondary" type="button" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search mb-1" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="dropdown mx-2">
        <!-- <svg id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="white"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg> -->
        <img [src]="retrievedImage" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="border-radius:15px; height:35px; width:35px;" *ngIf="retrievedImage" />
        <!-- </button> -->
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="navigateTo('accountdetails/myaccount')">My Account</a>
            <a class="dropdown-item" (click)="navigateTo('accountdetails/orders')">Previous Orders</a>
            <a class="dropdown-item" (click)="navigateTo('accountdetails/wallet')">Wallet</a>
            <a class="dropdown-item" (click)="navigateTo('signout')">Sign Out</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="black" (click)="navigateTo('home')">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a class="black" (click)="navigateTo('cart')">Cart</a>
                </li>
            </ol>
        </nav>
    </div>
</nav>


<div class="container-fluid my-4">
    <div class="row g-3">
        <h2 class="text-center text-primary no-bold">
            {{user}}'s Cart
        </h2>
        <ng-container  *ngIf="(cartBooks | filter1 : searchText :'name'| filter1: filterAuthor : 'author'| filter1 : filterGenre:'genre') as filteredBooks">
        <h3 class="text-center text-danger" *ngIf="!cartBooks.length">
            Empty Cart
        </h3>
        <h3 class="text-center text-danger" *ngIf="!filteredBooks.length && cartBooks.length">
            No such books
        </h3>
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3" *ngFor="let book of filteredBooks | paginate: { itemsPerPage: 8, currentPage: page}; ">
        <mat-card class="card" >
            <mat-card-title class="card-title text-truncate" [title]="book.name"> {{book.name}} </mat-card-title>
            <img mat-card-image class="card-img-top" src="{{imageConversion(book.image)}}" alt="Photo of a Shiba Inu">
            <mat-card-content class="card-text text-truncate">
                Author: {{ book.author}}<br>
                Genre : {{ book.genre }}
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-danger" (click)="removeFromCart(book)">Remove Item</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <div class="text-center pt-4" *ngIf="filteredBooks.length">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    </ng-container>
</div>

    <div class="fixedbutton mx-2 my-3">
        <button class="btn  btn-lg btn-success  text-white px-lg-3" (click)="checkoutCart()">
            Checkout
        </button>
    </div>
</div>