<div class="top">
    <div class="container">

        <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

            <div class="form__input-group">
                <input type="text" class="form__input" placeholder="Email" name="email" ngModel #email="ngModel" email
                    required>
                <span class="help-block" *ngIf="!email.valid && email.touched">Invalid Email</span>
            </div>

            <div class="form__input-group">
                <select ngModel name="sq" required #sq="ngModel" class="form__input" [ngModel]="">
                    <option value="" selected disabled hidden>Select Question</option>
                    <option value=1>born city?</option>
                    <option value=2>partner name?</option>
                    <option value=3>fav holiday?</option>
                </select>
                <span class="help-block" *ngIf="!sq.valid && sq.touched">Please select one</span>
            </div>

            <div class="form__input-group">
                <input name="sqa" type="text" id="sqa" class="form__input" required ngModel #sqa="ngModel"
                    [disabled]="!sq.valid" placeholder="Enter Answer" />
                <span class="help-block" *ngIf="!sqa.valid && sqa.touched">Please Answer</span>
            </div>

            <div class="form__input-group">
                <input type="password" name="pwd" class="form__input" placeholder="New Password" ngModel
                    #pwd="ngModel" required pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$">
                <span class="help-block" *ngIf="!pwd.valid && pwd.touched">required 8-16 characters, atleast one uppercase, one lowercase, one digit, one special character</span>
            </div>

            <div class="form__input-group">
                <input name="cnpwd"  type="password" id="cpwd" class="form__input" placeholder="Confirm Password" required [(ngModel)]="cnpwd" [disabled]="!pwd.valid" (input)="validatePwd()" [ngStyle]="{border: y}"/>
                <span class="help-block">{{x}}</span>
            </div>
            

            <input class="form__button" name="login" type="submit" value="Submit" [disabled]="!f.valid">


            <p class="form__text">
                <br>
                <a class="form__link" routerLink="/">Back to Login</a>
            </p>

        </form>
    </div>
</div>